<h1>Join a Group</h1>
<ul>
<% @groups.each do |group| %>
  <li><strong><%= group.name %></strong> </li>
  <p><%= group.description %></p>
  <p>created by: <%= group.user.profile.username %></p>
  <% if group.user != current_user %>
  <% group.user %>
  <%= link_to 'Join', group_path(group), class: 'btn btn-primary' %>
  <% end %>
  <% end %>
</ul>
