<%= simple_form_for Bet.new, url: bets_path(group_id: group), method: :post, class: "" do |f| %>
  <!-- FIRST NUMBER -->
  <div class="form-row align-items-center">
    <% 1.upto(5) do |nr| %>
      <%= render 'shared/bet_fields/bet_numbers', nr: nr %>
    <% end %>

    <% 1.upto(2) do |nr| %>
      <%= render 'shared/bet_fields/bet_stars', nr: nr %>
    <% end %>

    <div class="row d-block">
      <div class="col text-center">
        <button type="submit" class="bg-transparent border-0 mt-2"> <i class="fas fa-check-circle fa-2x text-success"></i></button>
      </div>
      <div class="col text-center ">
        <button type="reset" class="bg-transparent border-0 mt-2"> <i class="far fa-times-circle fa-2x text-danger "></i></button>
      </div>
    </div>


  </div>
<% end %>
