<div class="footer">
  <div class="footer-links">
    <%= rails_social_share_button_tag('We Bet - It\'s BETter together', url: 'www.webet.com') %>
    <!-- https://github.com/Bunlong/rails-social-share-button -->
  </div>
  <div class="footer-copyright">
    <!-- This footer is made with <i class="fas fa-heart"></i> at Le Wagon -->
  </div>
</div>
