<footer class="container-fluid">
  <section class="footer">
   <div class="row">
     <div class="col-6">
      <%= rails_social_share_button_tag('We Bet - It\'s BETter together', url: 'www.webet.com') %>
     </div>
     <div class="col-6">
     </div>
   </div>
  </section>
</footer>


