<main class="container-fluid border border-danger">
  this is the main content for the page


  <section class="container-fluid border border-success mb-1">
    this is a full with section


  </section>


  <section class="container border border-success  mb-1">
    this is a regular with section


  </section>



  <section class="container border border-success  mb-1">

    <div class="row border-primary mb-1">
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
    </div>

  </section>

  <section class="card-body">
    <div class="card-body bg-primary" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Join Now</h5>
          <p class="card-text">A online betting marketplace for all Portuguese Euromillions enthusiasts.</p>
        <a href="#" class="btn btn-primary">Click Here!</a>
      </div>
    </div>

    <div class="card-body bg-warning" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">About Us</h5>
          <p class="card-text">Read this guide to further understand the Euromillions betting lottery in Portugal.</p>
        <a href="#" class="btn btn-primary">Click Here!</a>
      </div>
    </div>

  </section>


  <section>
    <div>
      <h4>Why use us?</h4>
        <p>We are the best organized betting site in portugal so you can interact with your friends all and place your bets online all in one fun online platform.</p>
    </div>
  </section>








</main>


