<%= content_for(:navbar_class, "navbar-home") %>


<main class="container-fluid">
  <section class="banner container-fluid">
    <div class="row text-center">
      <div class="col">
        <h1 class="">Your Social Network for Bets</h1>
        <h3>Because it's BETter with friends</h3>
        <%= link_to "Join", new_user_session_path, class: "btn btn-lg btn-primary"  %>
      </div>
    </div>
  </section>

  <section class="container-fluid">
    <div class="row m-5">
      <div class="col m-5">
        <h2 class="">How it works?</h2>
        <h4 class="">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</h4>
      </div>
      <div class="col-5 m-5">
        <img src="https://user-images.githubusercontent.com/194400/49531010-48dad180-f8b1-11e8-8d89-1e61320e1d82.png" class="img-fluid" alt="Responsive image">
      </div>
    </div>
  </section>

  <section class="container-fluid">
    <div class="row m-5">
      <div class="col-5 m-5">
        <img src="https://user-images.githubusercontent.com/194400/49531010-48dad180-f8b1-11e8-8d89-1e61320e1d82.png" class="img-fluid" alt="Responsive image">
      </div>
      <div class="col m-5">
        <h2 class="">Why us?</h2>
        <h4 class="">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</h4>
      </div>
    </div>
  </section>
</main>












