<%= content_for(:navbar_class, "navbar-home") %>

<main class="container-fluid">
  <section class="banner container-fluid">
    <div class="row text-center">
      <div class="col">
        <h1 class="">Your Social Network for Bets</h1>
        <h3>Because it's BETter with friends</h3>
        <%= link_to "Join", new_user_session_path, class: "btn btn-lg btn-primary"  %>
      </div>
    </div>
  </section>

  <section class="container-fluid">
    <div class="row m-5">
      <div class="col m-5">
        <h2 class="">How it works?</h2>
        <h4 class="">Sign up to become part of Portugal's best interactive betting platform. Simply sign up and choose to either create a group or join an existing group with friends, family, or colleagues. Then sit back and watch as the results come in, and rest assured that if you win your payout is guarenteed. No one has the incentive to take the potential jackpot to themselves.</h4>
      </div>
      <div class="col-5 m-5">
        <img src="https://www.lottery.co.uk/images/news/large-euromillions.jpg" class="img-fluid" alt="Responsive image">
      </div>
    </div>
  </section>

  <section class="container-fluid">
    <div class="row m-5">
      <div class="col-5 m-5">
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.ytimg.com%2Fvi%2Fh4sjjcao1QM%2Fmaxresdefault.jpg&f=1&nofb=1" class="img-fluid" alt="Responsive image">
      </div>
      <div class="col m-5">
        <h2 class="">Why us?</h2>
        <h4 class="">We are insured and by Caixa Geral de Depositos, backed fully in the amount of the potential jackpot (minus potential taxes). Our dashboard and features to connect socially are truly unique and offer the best public and private betting platform.</h4>
      </div>
    </div>
  </section>
</main>












