<main class="container-fluid border border-danger">
  this is the main content for the page


  <section class="container-fluid border border-success mb-1">
    this is a full with section


  </section>


  <section class="container border border-success  mb-1">
    this is a regular with section


  </section>



  <section class="container border border-success  mb-1">

    <div class="row border-primary mb-1">
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
    </div>

  </section>



</main>


