<section class="content">
  <div>Thanks for doing buisness with us!
    <img src="http://4.bp.blogspot.com/-aXEUu0y51_0/T_MNvL7b9OI/AAAAAAAABCg/AoYI5sSW4nI/s1600/thank-you.jpg" alt="Thank You Demo Picture">
    <div class="content">
    <h1>Thanks Again!</h1>
    <p>We hope you will share what an awesome experience WeBet is to bet in a unique way with all of your friends. Feel free to leave your e-mail below, and well goive you a 10 Euro credit :)</p>
    <form>
      <label for="e-mail">E-Mail:</label>
      <input name="ex1" spellcheck="false" maxlength="30" style="width: 304px;">
      <input type="button" value="Click me" onclick="msg()">
    </form>
  </div>
  </div>
</section>
