<section class="content">
  <div class="card">
    Section for card betting info
    <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Bet info</h5>
    <p class="card-text">Your Group Info:</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
  </div>
  <div>Thanks for doing buisness with us!
    <img src="https://betcrazy.co.uk/wp-content/uploads/2017/12/sports-betting.jpg">
    <div class="content">
    <h1>Thanks Again!</h1>
    <p>We hope you will share what an awesome experience WeBet is to bet in a unique way with all of your friends. Feel free to leave your e-mail below, and well goive you a 10 Euro credit :)</p>
    <form>
      <label for="e-mail">E-Mail:</label>
      <input name="ex1" spellcheck="false" maxlength="30" style="width: 304px;">
      <input type="button" value="Click me" onclick="msg()">
    </form>
  </div>
  </div>
</section>
