<div class="banner2" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.4)), url(https://img.freepik.com/free-photo/playful-african-man-joking-with-beautiful-european-man-while-holding-money_8353-10346.jpg?size=626&ext=jpg);">
  <div class="container text-center">
    <h1 style="font-family: 'TT Commons', sans-serif; font-size: 130px, text-shadow: 10 10 10; "><strong class="text-white">We</strong><strong class="text-info">BET</strong></h1>
    <p>Where luck is always on your side</p>
    <br>
    <h1>Thank you for betting with us</h1>
    <br>
    <br>
    <h2 class='badge badge-pill badge-secondary'><%= link_to 'Place another bet', dashboard_path %></h2>
  </div>
</div>

