<div class="form-group col-md-1">
  <label for="inputNumbers"></label>
  <input type="number" name="bet[nr<%= nr %>]" class="form-control border border-light rounded" id="inputNumbers" min="1" max="5">
</div>
