<div class="form-group col-md-1 text-center">
  <label for="inputStars" class="mb-n2 stars-position"><i class="fas fa-star bet-stars"></i></label>
  <input type="text" name="bet[bet_stars[star<%= nr %>]]" min="1" max="12" maxlength="2" class="form-control border border-light rounded" id="inputNumbers" style='font-size:25px;'>
</div>
