<div class="form-group col-md-1 text-center">
  <label for="inputStars" class="mb-n2"><i class="fas fa-star"></i></label>
  <input type="text" name="bet[star<%= nr %>]" min="1" max="12" class="form-control border border-light rounded" id="inputNumbers">
</div>
