// #profile {
//   flex: 0 0 250px;
//   height: 100vh;
//   position: sticky !important;
//   top: 0 !important;
//   background-color: $gray;
// }
.large-icon {
  font-size: 30px;
}

.medium-icon{
  font-size: 20px;
}

  .left-panel-container {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #24292E;
  }

.right-panel-container {
  flex: 0 0 250px;
  height: 100vh;
  position: sticky !important;
  top: 0 !important;
  background-color: $gray;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  margin-top: 20px;
  border-radius: 2px;
  margin-bottom: 20px;
  margin-right: 20px;

}

.right-panel-container .profile .avatar {
    margin-left: 200px;
    margin-top: 5px;
  }

  .profile-card {
    background-size: cover;
    background-position: center;
    padding: 50px 0px;
    margin: -45px 0px;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    font-size: 25px;
    color: $gray;
    font-weight: bolder;
    text-shadow: 0 0 10px rgba(0,0,0,0.7);
    flex: 0 0 30%;
    background-color: $yellow;
  }


.dashboard-container {
  width: 100%;
  padding: 20px;

  }

  .welcome {
    background-color: $gray;
    color:$white;
    height: 100px;
    border-radius: 2px;

  }

  .stats {
  display: flex;
  align-items: center;
  justify-content: space-between;


  }

  .bets-so-far {
    background-size: cover;
    background-position: center;
    padding: 50px 0px;
    margin: 10px 0px;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    font-size: 25px;
    color: $white;
    font-weight: bolder;
    text-shadow: 0 0 10px rgba(0,0,0,0.7);
    flex: 0 0 30%;
    background-color: $gray;

  }

.bets-so-far h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.bets-so-far p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

  .groups-bet-container {
    width: 100%;
    padding: 20px;
    height: 260px;
    overflow-y: auto;
  }

  .bet-card-container {

  }


  .bet-card {
    background-size: cover;
    background-position: center;
    // padding: 50px 0px;
    margin: 10px 0px;
    text-align: center;
    border-radius: 1px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    font-size: 25px;
    color: $white;
    font-weight: bolder;
    text-shadow: 0 0 10px rgba(0,0,0,0.7);
    flex: 0 0 30%;
    background-color: $gray;
    padding: 20px;
    display: flex;
    height: 100px;
    justify-content: flex-start;
    position: relative;
  }

  .bet-card p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

 .bet-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}


.group-logo{
  display: flex;
  align-items: baseline;
  justify-content: top;
  align-self: flex-start;
  // margin-left: 5px;
  // margin-top: -40px;
  margin-right: 20px;
  display: flex;
}
  .avatar-group-logo {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  // border: white 1px solid;

}

.users-avatar-container {
  position: absolute;
    left: 25px;
    top: 55px;
    width: 15px
  }

  .avatar-bordered {
    width: 15px;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border: white 1px solid;
}



.main-container {
  display: flex;
  background-color: #24292E;
  color: $white;
}
// .cards-container {
//   flex-grow: 1;
//   display: flex;
//   justify-content: space-around;
//   flex-wrap: wrap;
// }
// .card {
//   background-size: cover;
//   background-position: center;
//   padding: 50px 0px;
//   margin: 10px 0px;
//   text-align: center;
//   border-radius: 1px;
//   box-shadow: 0 0 10px rgba(0,0,0,0.2);
//   font-size: 25px;
//   color: white;
//   font-weight: bolder;
//   text-shadow: 0 0 10px rgba(0,0,0,0.7);
//   // flex: 0 0 30%;
// }
// @media(max-width: 992px) {
//   .card {
//     flex: 0 0 45%;
//   }
// }
// @media(max-width: 768px) {
//   .card {
//     flex: 0 0 90%;
//   }
// }
