// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "footer";
@import "banner";
@import "dashboard";
@import "betform";
@import "tooltip";
@import "search";
@import "gold";
// @import "animate";
// @import "style";


// --------------- banner groups index-------
.banner-groups-index {
  background-size: cover;
  background-position: 0% 65%;
  padding: 150px 0;
  // height: 200px;
  object-fit: cover;
}

.banner-groups-index h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner-groups-index p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
// ----------end of banner groups index ---------

// BANNER LANDING PAGE---------------

.header {
    background: url(../images/home.jpg);
    background-size: cover;
  background-repeat: no-repeat;
}
.header .section_overlay {
    background-color: rgba(33, 33, 33, .75);
}

.home_text{
    text-align: left;
}
.home-iphone{
    text-align: right;
}
// .home-iphone img{
//     width: 100%;
// }

@media (max-width: 768px){
    .home-iphone{
        display: none;
    }
    .home_text{
        text-align: center;
    }

}
.home_text h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 300;
    line-height: 45px;
    padding-top: 30px
}
.home_text p {
    color: #fff;
    font-size: 17px;
    line-height: 28px;
    margin-top: 0px;
    font-weight: 300;
}
.download-btn {
    margin-top: 90px;
    margin-bottom: 50px
}



// --------------ENND BANNER LANDING PAGE--------------

// ----------BUTTON BANNER LANDING PAGE ----------
.download-btn {
    margin-top: 90px;
    margin-bottom: 50px
}
.home-btn,
.home-btn:focus,
.home-btn:active,
.home-btn:visited {
    background: transparent;
    border-color: $yellow;
    color: $yellow;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 19px;
    text-transform: uppercase;
    border-radius: 3px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.home-btn:hover {
    background-color: $yellow;
    color: #fff;
}


.tuor,
.tuor:focus,
tuor:active,
tuor:visited {
    color: #A9ADB0;
    margin-left: 20px;
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 500;
    background: transparent;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.tuor:hover {
    color: #fff;
}
.tuor i {
    font-size: 20px;
    padding-left: 5px;
    color: $yellow;
}
.home-iphone {
  box-sizing: border-box;
}
    // ---------- END OF BUTTON BANNER LANDING PAGE ----------



    //----------------------- HOW IT WORKS-------------

    .about {
    background: #F1F1F1;
}

.section_title h2 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    color: #333;
    font-size: 30px;
    font-weight: 400;
}

.section_title p {
    text-align: center;
    margin-top: 45px;
    color: #333;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    }
.inner_about_area {
    padding-top: 50px;
}
.inner_about_title {
    padding-bottom: 50px;
}
.inner_about_title h2 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 30px;
    line-height: 37px;
    position: relative;
}
.inner_about_title h2:after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 70px;
    background: #f39c12;
    height: 1px;
}
.inner_about_title p {
    font-size: 19px;
    line-height: 24px;
    margin-top: 40px;
}
.inner_about_desc {} .single_about_area {
    position: relative;
    padding-bottom: 4px;
    padding-left: 80px;
}
.single_about_area div {
    position: absolute;
    top: 0px;
    left: 0px;
}
.single_about_area div i {
    font-size: 55px;
    color: #BABABA;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.single_about_area h3 {
    color: #343434;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 800;
}
.single_about_area p {
    color: #727272;
    font-size: 15px;
}
.single_about_area:hover div i {
    color: #f39c12;
}
.about_phone img {} @media (min-width: 991px) and (max-width: 1200px) {
    .about_phone img {
        margin-top: 184px;
        width: 80%;
        margin-right: 20%
    }
}
/*---------------------------------------
   SECTION VIDEO
-----------------------------------------*/

.video_area {
    background: #e4e4e4;
    padding-bottom: 140px;
    padding-top: 120px;
}
.video_title {
    padding-bottom: 30px;
}
.video_title h2 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 30px;
    line-height: 37px;
    position: relative;
    margin-top: 0px;
}
.video_title h2:after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 70px;
    background: #f39c12;
    height: 1px;
}
.video_title p {
    font-size: 18px;
    line-height: 28px;
    margin-top: 40px;
    color: #333;
    font-weight: 300;
}
.btn-video,
.btn-video:active,
.btn-video:focus,
.btn-video:visited {
    background: transparent;
    border: 1px solid #929292;
    color: #686868;
    border-radius: 3px;
    padding: 12px 35px;
    text-transform: uppercase;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.btn-video:hover {
    background: #f39c12;
    color: #fff;
    border: 1px solid #f39c12;
}
.video {} .video iframe {
    width: 100%;
    border: 1px solid #999999;
    padding: 5px;
}

//------------------------------------------------------

/* Carousel */

#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 30px;
    /* Control buttons  */
    /* Previous button  */
    /* Next button  */
    /* Changes the position of the indicators */
    /* Changes the color of the indicators */
}
#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
#quote-carousel .carousel-control.left {
    left: -60px;
}
#quote-carousel .carousel-control.right {
    right: -60px;
}
#quote-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
    border: 4px solid #CCC;
    border-radius: 50px;
    opacity: 0.4;
    overflow: hidden;
    transition: all 0.4s;
}
#quote-carousel .carousel-indicators .active {
    background: #333333;
    width: 128px;
    height: 128px;
    border-radius: 100px;
    border-color: #f33;
    opacity: 1;
    overflow: hidden;
}
.carousel-inner {
    min-height: 300px;
}
.item blockquote {
    border-left: none;
    margin: 0;
}
.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}
