// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "footer";
@import "banner";
@import "dashboard";
@import "betform";
@import "tooltip";
@import "search";



.banner-groups-index {
  background-size: cover;
  background-position: 0% 65%;
  padding: 150px 0;
  // height: 200px;
  object-fit: cover;
}

.banner-groups-index h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner-groups-index p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
