.navbar {
  background-color: #303030 !important;
}

.nav-link {
  color: white !important;
}

.logo{
  width: 95px;
  height: 37px;
  filter: hue-rotate(314deg);
  -webkit-filter: hue-rotate(314deg);
}
