<<<<<<< HEAD
.navbar-lewagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07), 0 1px 0 0 rgba(0,0,0,0.03);
  background: transparent;
  transition: all 0.3s ease;
  display: flex;
  height: 70px;
  padding: 0px 30px;
  justify-content: space-between;
  color: $white;

  .nav-item, .nav-item.active {
    a.nav-link, a.nav-link:visited, a.nav-link:hover {
      color: white;
    }
  }
=======
.navbar {
  background-color: #303030 !important;
>>>>>>> aa2aa4012581ee55f9c37e45ae8ce6c2a55c49ef
}

.nav-link {
  color: white !important;
}

<<<<<<< HEAD
.navbar-link {
  font-color: yellow;
  font-weight: bold;
  color: green;
=======
.logo{
  width: 95px;
  height: 37px;
  filter: hue-rotate(314deg);
  -webkit-filter: hue-rotate(314deg);
>>>>>>> aa2aa4012581ee55f9c37e45ae8ce6c2a55c49ef
}
