// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/layout";
@import "groups/show";
@import "groups/new";
@import "profiles/dashboard";
@import "orders/show";
@import "payments/new";
@import "rails-social-share-button";

body {
  background-color: #303030 !important;
}

h1  {
  color: white !important;
}

h2  {
  color: white !important;
}

h3  {
  color: white !important;
}

h4  {
  color: white !important;
}

.p-small {
  font-size: small;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.list-inline-item:not(:last-child) {
    margin-right: 0rem;
}

ul {
  list-style-type: none;
}
.rails-social-share-button {
  .ssb-icon {
    background-size: 30px;
    height: 25px;
    width: 25px;
    filter: grayscale(100%);
    border-radius: 50%;
    margin: 5px 0;
    &:hover {
      filter: none;
    }
  }
}

