// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/layout";
@import "rails-social-share-button";

ul {
  list-style-type: none;
}
.rails-social-share-button {
  .ssb-icon {
    background-size: 30px;
    height: 30px;
    width: 30px;
    filter: grayscale(100%);
    border-radius: 50%;
    margin: 10px 0;
    &:hover {
      filter: none;
    }
  }
}

.card-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 60px;
  box-shadow: 10px 15px;
  padding: 10px;
}

.number-circle {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    padding: 6px;
    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;
    font: 16px Arial, sans-serif;
}

.number-star {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    padding: 6px;
    background: gold;
    border: 2px solid #666;
    color: #666;
    text-align: center;
    font: 16px Arial, sans-serif;
}
