// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "rails-social-share-button";


.rails-social-share-button {
  .ssb-icon {
    background-size: 30px;
    height: 30px;
    width: 30px;
    filter: grayscale(100%);
    border-radius: 50%;
  }
}

.card-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 60px;
  box-shadow: 10px 15px;
  padding: 10px;
}

